{% extends 'main.html' %}
{% block content %}
<main class="messagePage my-xl">
    <div class="content-box">
        <div class="message">
            <a style="background-color: orange;" class="backButton" href="{% url 'inbox' %}"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                </svg></a>
            <h2 class="message__subject">{{message.subject}}</h2>
            {% if message.sender %}
            <a href="{% url 'user-profile' message.sender.id %}" class="message__author"
                style="color: orange;">{{message.name}}</a>
            {% else %}
            <p class="message__author" style="color: orange;">{{message.name}}</p>
            {% endif %}
            <p class="message__date">{{message.created}}</p>
            <div class="message__body" style="word-wrap: break-word;">{{message.body|linebreaks}}</div>
        </div>
    </div>
</main>
{% endblock %}